.button {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: white;
    border-radius: 30px;
    color: black;
    
    
    .svgIcon {
      height: 25px;
      transition-duration: 1.5s;
    }
    
    .bell path {
      fill: rgb(19, 19, 19);
    }
    
    .button:hover {
      background-color: rgb(169, 187, 245);
      transition-duration: .5s;
    }
    
    .button:active {
      transform: scale(0.97);
      transition-duration: .2s;
    }
    
    .button:hover .svgIcon {
      transform: rotate(250deg);
      transition-duration: 1.5s;
    }
    
    
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover {
    background-color: rgb(169, 187, 245);
    transition-duration: .5s;
  }
  
  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  *{
    font-family: 'Chewy', cursive;
    letter-spacing: 1.3px;
  }